lightning_logs
__pycache__
**/*.egg-info
build

exclude
docs/build
dist
**/*results*
.communication
logs

.pytest_cache
coverage.xml
.coverage*
*.extxyz
*.xyz
*.npz
*.ipynb
*.pt
*.pth
**/wandb
.vscode
.isort.cfg
.DS_Store

thoughts*
TODO*

results/
lammps/
dumps/
**.cache