lightning_logs
__pycache__
TODO*

exclude
docs/build
dist
**/*results*
.communication
logs
**/*.egg-info

.pytest_cache
coverage.xml
.coverage*
*.extxyz
*.xyz
*.npz
*.ipynb
*.pt
*.pth
**/wandb
.vscode
.isort.cfg
.DS_Store

**.cache