lightning_logs
__pycache__
**/*.egg-info
build


docs/build
dist
graph-pes-results

.pytest_cache
coverage.xml
.coverage*

*.extxyz
*.npz
*.ipynb
*.pt
*.pth
**/wandb

.vscode
.isort.cfg
.DS_Store

thoughts*
TODO*

results/
lammps/
dumps/
**.cache